
		.p {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
		}

		.pc {
		  display: block;
		  padding: 15px;

		}

		.pci img {
			width: 100%;
			max-width: 410px;
			max-height: 238px;
			border-radius: 5px 5px 5px 5px;
			pointer-events: none;
			transform: scale(1.0);
			transition: transform 0.5s ease;
		}

		.pci:hover img {
			transform: scale(1.05);
		}

		.vid {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin:10px;
			padding:0px;
		}


		.n {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 8px;
		}
		.n img {

			object-fit: contain;
			width: 100%;
			max-width: 50px;
			max-height: 50px;
		}

		/* GALERIA */
		.g {
			margin: 10px;
			color: rgba(255, 255, 255, 0.5);
			transform: scale(1.0);
			transition: color 1s ease, transform 0.5s ease;
			text-decoration-line: none;
		}

		/* INSTAGRAM */
		.i {
			margin: 10px;
			color: rgba(255, 255, 255, 0.5);
			transform: scale(1.0);
			margin-left: 11px;
			transition: color 1s ease, transform 0.5s ease;
			text-decoration-line: none;
		}

		/* ANIMATION INSTA and GALERIA */

		.g:hover, .i:hover {
			transform:  scale(1.15);
			color: rgba(255, 255, 255, 1);
		}

		.g:hover, .i:hover {
			transform:  scale(1.15);
			color: rgba(255, 255, 255, 1);
		}


		/* SLIDER FEEDBACK */
		
		@keyframes scroll {
			0% { transform: translateX(0); }
			100% { transform: translateX(calc(-100px * 7))}
		}
		
		.slider {
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
			height: 100px;
			margin: auto;
			overflow:hidden;
			position: relative;
			width: 960px;
			
			&::before,
			&::after {
				background: linear-gradient(to right,  #131313 0%,rgba(255,255,255,0) 100%);
				content: "";
				height: 100px;
				position: absolute;
				width: 200px;
				z-index: 2;
			}
			
			&::after {
				right: 0;
				top: 0;
				transform: rotateZ(180deg);
			}
		
			&::before {
				left: 0;
				top: 0;
			}
			
			.slide-track {
				animation: scroll 40s linear infinite;
				display: flex;
				width: calc(250px * 14);
			}
			
			.slide {
				height: 100px;
				width: 250px;
			}

			.slide img {
				pointer-events: none;
				cursor: pointer;
			}
		}

		/* NAME */
		@media only screen and (max-width: 600px) {

		.snac {

			display: flex;
			margin-top: 50px;
			font-size: 20px;
			font-weight: lighter;
			justify-content: center;
			align-items: center;
			animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) 1s both;

		}

		.sna {

			display: flex;
			margin-top: 100px;
			letter-spacing: 5px;
			font-size: 30px;
			font-weight: lighter;
			justify-content: center;
			align-items: center;
			animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) 1s both;

		}

		.na {
			display: flex;
			flex: 100%;
			font-size: 80px;
			margin: 0;
			padding: 0;
			justify-content: center;
			align-items: center;
			

		}

		.nad {
			display: flex;
			margin: 0 auto;
			flex: 100%;
			font-size: 1rem;
			max-width: 336px;
			text-align: center;
			justify-content: center;
			align-items: center;
			animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
		}

		.di{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: white;
		}
	}

	@media only screen and (min-width: 600px) {
		.snac {

			display: flex;
			margin-top: 50px;
			font-size: 30px;
			font-weight: lighter;
			justify-content: center;
			align-items: center;
			animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) 1s both;

		}

		.sna {

			display: flex;
			margin-top: 150px;
			letter-spacing: 5px;
			font-size: 30px;
			font-weight: lighter;
			justify-content: center;
			align-items: center;
			animation:tracking-in-expand 1.5s cubic-bezier(.215,.61,.355,1.000) 1s both;

		}

		.na {
			display: flex;
			flex: 100%;
			font-size: 100px;
			justify-content: center;
			align-items: center;
			

		}

		.nad {
			display: flex;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			flex: 100%;
			font-size: 1rem;
			max-width: 400px;
			text-align: center;
			justify-content: center;
			align-items: center;
			animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
		}

		.di{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}
			
		@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}


		/* DROPDOWN */
		.dd {
		  position: relative;
		  display: inline-block;
		}

		.ddc {
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 50px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  border-radius: 20px;
		  padding: 12px 16px;
		  z-index: 1;
		}

		.ddc a{
			display: flex;
			flex-direction: column;
			margin: 10px 0px;
			text-decoration-line: none;
			color: black;
			font-family: Roboto;
			font-weight: bold;

		}

		.dd:hover .ddc {
		  display: block;
		}

		.di {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.di a:hover {
			color: #7289da;
			font-weight: bold;
			transition: color 0.5s ease, font-weight 0.5s ease;
		}

@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.fade {animation-name: fade;animation-duration: 1.5s;}
@keyframes fade {from {opacity: .4}to {opacity: 1}}