
		.port-header img {

		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		max-width: 50px;
		max-height: 50px;
		animation:scale-in-center 1s both;

	}

@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

/* SECTIONS DIVS */
@media only screen and (min-width: 600px) {
		.port-sections {
			display: flex;
			flex-direction: column;
		  	justify-content: center;
		  	align-items: center;
		  	margin: 0 auto;
		}


		.port-section-div {
			margin-bottom: 25px;
		  	transform: scale(1);
		  	transition: transform 0.5s ease;

		}

		.port-section-div:hover {
			transform: scale(1.1);
		}

		.port-section-div img{
			width: 100%;
			max-width: 500px;
			max-height: 500px;
			border-radius: 25px;
			-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
		}

		.port-section-div img:hover {
			color: white;
			-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
		}

		.port-section-div:hover .port-section-div-text {
			display: none;
		}

		.port-section-div-text {
			font-family         : 'Roboto', sans-serif;
			font-weight: bold;
			position: absolute;
			top: 45%;
			margin-left: 100px;
			font-size: 2.5rem;
			color: white;
			text-shadow: 2px 2px #8383;
		}



		.banner {
			display: none;
		}

		.banner2 {
			display: none;
		}

		.embeds {
			display: none;
		}

		.fade {
		animation-name: fade;
		animation-duration: 1.5s;
		}

		@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
		}
}

@media only screen and (max-width: 600px) {
		.port-sections {
			display: flex;
			flex-direction: column;
		  	justify-content: center;
		  	align-items: center;

		  	margin: 0 auto;
		}


		.port-section-div {
			margin-bottom: 25px;
		  	transform: scale(1);
		  	transition: transform 0.5s ease;

		}

		.port-section-div:hover {
			transform: scale(1.1);
		}

		.port-section-div img{
			width: 100%;
			max-width: 300px;
			max-height: 300px;
			border-radius: 25px;
			-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
		}

		.port-section-div img:hover {
			color: white;
			-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
		}

		.port-section-div img:hover .port-section-div-text {
			content: '';
		}

		.port-section-div-text {
			font-family         : 'Roboto', sans-serif;
			font-weight: bold;
			position: absolute;
			top: 45%;
			margin-left: 50px;
			color: white;
			text-shadow: 2px 2px #8383;
		}

		.banner {
			display: none;
		}

		.banner2 {
			display: none;
		}

		.embeds {
			display: none;
		}

		.fade {
		animation-name: fade;
		animation-duration: 1.5s;
		}

		@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
		}
}